{% extends 'base.html' %}

{% block head %}
<title>Add Category | Task Manager</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="title">Add New Category</h1>

    <form action="" method="POST">
        {{ form.hidden_tag() }}

        <dl>
            <div class="form-group">
                {{ form.category.label(class="form-label") }}
                {{ form.category(class="form-control", placeholder="Enter category name") }}
                {% if form.category.errors %}
                    <small style="color: var(--danger-color); margin-top: 0.5rem; display: block;">
                        <i class="fas fa-exclamation-circle"></i> {{ form.category.errors[0] }}
                    </small>
                {% endif %}
            </div>

            <div class="form-submit">
                {{ form.submit(class="submit-btn btn-rounded") }}
            </div>
        </dl>
    </form>
</div>
{% endblock %}